<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/home_style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/zzsc.css">
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Admin/js/date/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/menu.js"></script>
<script charset="utf-8" src="__PUBLIC__/Admin/editor/kindeditor-all.js"></script>
</head>
